# Compiled Object files
*.suo
*.obj
*.o
*.pch
*.pdb
*.idb
*.ipdb

# Compiled Dynamic libraries
*.dll
*.so
*.dylib

# Compiled Static libraries
*.lib
*.a

# Executables
*.exe
*.out
*.app

# Build folders
Debug/
Release/
ipch/
*.aps
*.ilk
*.ncb
*.opensdf
*.sdf
*.sln.cache
*.suo
*.tlog
*.vcxproj.filters
*.vcxproj.user
*.vspscc

# Visual Studio cache files
*.suo
*.sdf
*.opensdf
*.user

# Compiled Binary files
*.bin
*.dat
*.out
*.o

# Other
.vscode/
.idea/
*.sln.docstates
*.sln.ide-shutdown
*.suo
*.VC.db
*.VC.VC.opendb
